// ## Start Generic Styles 

.tbl {
	width: 100%;
	display: table;
}
.tbl-row {
	display: table-row;
}
.tbl-cell {
	vertical-align: top;
	display: table-cell;
}

.pv-spacer {
	border: none;
	margin: 0;
	padding: 10px 0;
	clear: both;
}

// 	===================== IMAGE ANIMATIONS

.img-wrap {
	text-align: center;
	display: inline-block;

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.hover-grayscale {
	@include transition(0.4s all ease);

	&:hover {
		-webkit-filter: grayscale(0.8);
		filter: grayscale(0.8);
	}
}


.hover-scale {
	position: relative;
	overflow: hidden;

	.bg-scale {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
		@include transition(0.4s all ease);
	}

	&:hover {
		.bg-scale {
			@include transform(scale(1.1));
		}
	}
}

.app-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.main-menu {
  position: relative;
  float: left; 
  display: block;
  width: 70px;
  height: 100%;
  margin: 0;
  border-right: 1px solid #ddd;

  a {
    color: $c_c_1;
    text-align: center;
    display: block;
    font-size: 28px;
    padding: 0;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;

    &.selected {
      background: $c_c_1;
      color: #fff;
    }
  }
}




// Toggle Component
.toggle-wrap {
	height: 26px;
	margin: 10px 0;
}

.toggle-track {
	cursor: pointer;
	position: relative;
	display: inline-block;
	height: 6px;
	width: 48px;
	background: #ccc;

	&.on {
		background: $c_c_1;

		.toggle-pin {
			@include transform(translateX(100%));
		}
	}
}

.toggle-pin {
	cursor: pointer;
	position: absolute;
	top: -10px;
	left: 0;
	width: 26px;
	height: 26px;
	border: 1px solid #ccc;
	background: #fff;

	@include round-corners(32px);
	@include transition(0.2s all ease);
}


// Dropdown Component

.pv-dropdown-wrap {
	margin: 10px 0;
}


.pv-dropdown {
	border: 1px solid #ccc;
	background: #fff;
	cursor: pointer;

	.pv-dd-options {
		display: none;
	}

	&.open {
		.pv-dd-options {
			display: block;
		}
	}

	.list-item {
		// cursor: pointer;
	}

	.selected {
		color: #fff;
		background: $c_c_1;
	}
}
