body, html, #root {
  height: 100%; 
  background: #fff;
}


// =================================== 5x Grid

.col-xs-x5,
.col-sm-x5,
.col-md-x5,
.col-lg-x5 {
	position: relative;
	min-height: 1px;  
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-x5 {
     width: 20%;
     float: left;
}

@media screen and (min-width: 768px) {

     .col-sm-x5 {
          width: 20%;
          float: left;
     }
}

@media (min-width: 992px) {
     .col-md-x5 {
          width: 20%;
          float: left;
     }
}
@media (min-width: 1200px) {
     .col-lg-x5 {
          width: 20%;
          float: left;
     }
}

// =================================== No Gutter Grid

.no-gutter {

	[class*='col-'] {
	    padding-right: 0;
	    padding-left: 0;
	}
}

.drawer-tool-bar {
    height: 100%;
    width: 260px;
    float: left;
    background: #f8f8f8;
    border-right: 1px dashed #ccc;

    .inner {
        padding: 20px;
    }
}


.box-model-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: 330px;
  min-width: 400px;
  text-align: center;
}


.box-model {
    margin: 60px auto;
    box-sizing: initial;
}


.box-output-wrap {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    margin-left: 330px;
    min-width: 400px;
    text-align: left;
    overflow: auto;
    border-top: 1px dashed #ccc;

    div {
        padding: 30px 20px;
    }

    pre {
        margin: 0;
        padding: 0;
        line-height: 1.2;
    }
    code {
        font-size: 12px;
    }
}